Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
lst = [4,8,15,16,23,42]
import pandas as pd

pd.Series(lst)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:
lst2 = [i for i in range(10)]

srs = pd.Series(lst2)

print(srs)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

Create a Pandas DataFrame

In [4]:
Name = ["Alice","Bob","clarie"]
Age = [25,30,27]
Gender = ['Female','Male','Female']
dit ={"Name":Name,"Age":Age,"Gender":Gender}
pd.DataFrame(dit)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  clarie   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [ ]:
'''

A DataFrame in pandas is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes 
(rows and columns). It is similar to a table in a database or an Excel spreadsheet, where you have rows and columns of data.

In contrast, a Series is a one-dimensional labeled array that can hold any data type (integers, strings, floating point numbers,
 Python objects, etc.). Each element in a Series is associated with a unique label, known as the index.

'''

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [5]:
#dropna
'''Used to drop the null the null values in the dataframe'''

#fillna
'''Used the NaN values with some constant value or category'''
#drop
'''Used to drop row or column'''

'Used to drop row or column'

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [6]:
#In pandas, both Series and DataFrame are mutable in nature, meaning you can change their values, structure, and contents after 
#they have been created.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [7]:
import pandas as pd

# Creating three Series
series1 = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
series2 = pd.Series([4, 5, 6], index=['a', 'b', 'c'])
series3 = pd.Series([7, 8, 9], index=['a', 'b', 'c'])

# Creating a DataFrame from the Series
df = pd.DataFrame({
    'Column1': series1,
    'Column2': series2,
    'Column3': series3
})

print(df)

   Column1  Column2  Column3
a        1        4        7
b        2        5        8
c        3        6        9