Q1. List any five functions of the pandas library with execution.

In [7]:
import pandas as pd
import seaborn as sns

df = sns.load_dataset("iris")

# 1 To list all coulmns for first 5 rows
df.head()

# 2 To find the number of NaN values
df.isnull().sum()

# 3 To fill NaN values
df.fillna(12)

# 4 To drop Null values
df.dropna()

# 5 To find the duplicated values
df.duplicated().sum()

1

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [8]:
df = pd.DataFrame({"Values":[10,20,30,40,50]})
#this will get the sum of the column values from index location 0-2
df['Values'].iloc[0:3].sum()

60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [10]:
df = pd.DataFrame({"Text":["Rock music approaches at high velocity.",
"He had accidentally hacked into his company's server.",
"The estate agent quickly marked out his territory on the dance floor.",
"The beauty of the sunset was obscured by the industrial cranes.",
"Swim at your own risk was taken as a challenge for the group of Kansas City college students.",
"Your girlfriend bought your favorite cookie crisp cereal but forgot to get milk.",
"She finally understood that grief was her love with no place for it to go.",
"She moved forward only because she trusted that the ending she now was going through must be followed by a new beginning.",
"He embraced his new life as an eggplant.",
"If I don’t like something, I’ll stay away from it.",
"We will not allow you to bring your pet armadillo along."]})
df["Word_count"] = df["Text"].apply(lambda x : len(str(x).split()))
df

                                                 Text  Word_count
0             Rock music approaches at high velocity.           6
1   He had accidentally hacked into his company's ...           8
2   The estate agent quickly marked out his territ...          12
3   The beauty of the sunset was obscured by the i...          11
4   Swim at your own risk was taken as a challenge...          18
5   Your girlfriend bought your favorite cookie cr...          13
6   She finally understood that grief was her love...          15
7   She moved forward only because she trusted tha...          22
8            He embraced his new life as an eggplant.           8
9   If I don’t like something, I’ll stay away from...          10
10  We will not allow you to bring your pet armadi...          11

Q5. How are DataFrame.size() and DataFrame.shape() different?

In [ ]:
'''
DataFrame.size: DataFrame.size returns the total number of elements in the DataFrame. It represents the total count of cells in the 
DataFrame, including both rows and columns. The size is calculated as the product of the number of rows and the number of columns. 
This attribute returns a single integer value.

DataFrame.shape: DataFrame.shape returns a tuple representing the dimensions of the DataFrame. The tuple contains two values: the 
number of rows and the number of columns, respectively. It provides a convenient way to quickly check the size of the DataFrame in 
terms of rows and columns. This attribute returns a tuple of two integers.

'''

Q6. Which function of pandas do we use to read an excel file?

In [ ]:
pd.read_excel()

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

In [ ]:
df["Username"] = df["Email"].apply(lambda x : x.split("@")[0])

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

In [16]:
df = pd.DataFrame({"A":[3,8,6,2,9],"B":[5,2,9,3,1],"C":[1,7,4,5,2]})

df1 = df[(df["A"]>5) & (df["B"]<10)]
df1

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2